# Vivado generated build artifacts
vivado/*.cache
vivado/*.runs
vivado/*.sim
vivado/*.hw
vivado/*.ip_user_files
vivado/*.gen
vivado/.Xil

# Vitis generated artifacts
vitis/**/.metadata
vitis/**/.Xil
vitis/**/Debug
vitis/**/Release
vitis/**/_ide
vitis/**/*.elf
vitis/**/*.bit
vitis/**/*.bif
vitis/**/export
vitis/**/RemoteSystemsTempFiles

# IP output products (regenerate with generate_target)
src/ip/**/synthesis
src/ip/**/impl
src/ip/**/simulation

# Logs and journals
*.jou
*.log
*.str
*.mif

# Checkpoint files (optional — include if you want checkpoints)
# *.dcp

# OS noise
.DS_Store
Thumbs.db
vivado/debris_tracking_fpga/



# Ensure board files are tracked
!boards/
!boards/**

# Don't track hardware file
*.xsa
